@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  font-family: Roboto, sans-serif;
  
}

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-weight: 400;
}

.header-lista {
  list-style: none;
}

.header-container-bottom {
  background-color: #f0a83e;
}

.logo-base {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: #ffffff;
}

.logo-first {
  color: #3c2313;
}

.nav-links {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
}
 .titulo {
    text-align: center;
    color: #3C2313;
    
 }

 .background {
    background-image: url("../Img/bowl-and-pet-daities-on-green-background 1.png");
    height: 409px;
 }
 
 .comederos {
     text-align: center;
     padding-top: 70px;
     font-size: 23px;
      }

 .divcenter {
    text-align: center
 }

 .com {
    background-color:#f0a83e;
    font-size: 15px;
    display: inline;
    
 }
 .foot {
   background-color: #3C2313;
   color: #FFFFFF;
   
 }
 .footer-desc {
    color: #8A8787;
    font-size: small
 }

 .logo-last2{
    color: #F0A83E;
 }
 .logo-last1 {
    color: #FFFFFF;
 }

 .footer-last{
    color: #FFFFFF;
    text-align: center;
    background-color: #F0A83E;
 }

 